boto3==1.13.19 # Apache 2
prompt-toolkit==2.0.7 # BSD
sty==1.0.0b8 # Apache 2
tqdm==4.46.1 # MIT
npyscreen==4.10.5 # BSD
beautifulsoup4==4.9.1 # MIT
keyring==21.2.1 # MIT
keyrings.alt==3.4.0 # MIT
tabulate==0.8.7 # MIT
jsonpickle==1.4.1 # BSD
urllib3==1.25.7 # MIT
pyotp==2.3.0 # MIT
python-u2flib-host==3.0.3 # BSD
cryptography==2.9.2 # BSD
requests==2.23.0 # Apache
filelock==3.0.12
pygments==2.6.1

# Internal Figgy-lib
git+git://github.com/figtools/figgy.lib@master

# Must use git for this install b/c pre-compiled Cython breaks pyinstaller.
git+https://github.com/samuelcolvin/pydantic.git@v1.5.1